<!DOCTYPE html>
<html>
  <head>
    <title>About | Linkup</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      The <a href="https://infinite-reef-3758.herokuapp.com/#about"><em>Linkup application </em></a> is an
      <a href="https://infinite-reef-3758.herokuapp.com/#about">application</a> and
      <a href="https://infinite-reef-3758.herokuapp.com/#about">screencast series</a>
      to link people proffesionally to other individuals in their professional line
      <a href="https://infinite-reef-3758.herokuapp.com/#about">Linkup</a>.
      This is the sample application for the professional media.
    </p>
  </body>
</html>