<!DOCTYPE html>
<html>
  <head>
    <title>Contact | Linkup</title>
  </head>
  <body>
    <h1><b>-Contact details-</b></h1>
    <p>
     <b><h3>Jay Joseh</h3></b>
     <p>Lead programmer</p>
     <p>prog@jayjoseh.0fees.us</p>
     <p>+254771889686</p>
      <a href="https://infinite-reef-3758.herokuapp.com/#contact">Contact us</a>.
      This is the sample application for the professional media.
    </p>
  </body>
</html>