<!DOCTYPE html>
<html>
  <head>
    <title>Help | Linkup</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help on the Linkup application at the
      <a href="https://infinite-reef-3758.herokuapp.com/#help">Linkup help
      section</a>.
      To get help on this sample app, see the
      <a href="https://infinite-reef-3758.herokuapp.com/#help"><em>Linkup
      Tutorial</em> book</a>.
    </p>
  </body>
</html>