<footer class="footer">
  <small>
    The <a href="https://infinite-reef-3758.herokuapp.com/#home">linking professional app</a>
    by <a href="https://infinite-reef-3758.herokuapp.com/#home">Jay joseh</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://infinite-reef-3758.herokuapp.com/#home">News</a></li>
    </ul>
  </nav>
</footer>